.body{
    width: auto;
    margin: 0;
    background: #F3F5FC;
    display: flex;
    flex-direction: column;
}

.logo{
    width: 25px;
    height: 32px;
    margin-left: 3rem;
    padding-top: 1.7rem;
}

.main{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 2rem;
}

div > h1, h3, p , textarea {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
  }
  

.entrada{
    width: auto;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;
    margin-left: 8rem;
}


.texto{
    text-transform:lowercase;
    font-size: 26px;
    line-height: 150%;
    color: #0A3871;
    border: none;
    background-color: #F3F5FC ;
}

::placeholder {color: #0A3871;}
    .texto:focus{
        outline: none;
    }

.condiciones{
    display: flex;
    flex-direction: row;
    align-items: center;
    padding-bottom: 1rem;
    gap: 0.5rem;
}

.vector{
    width: 16px;
    height: 16px;
}

.regla{
    font-size: 10px;
    line-height: 150%;
    color: #495057;
    opacity: 0.8;
}

.btn-encri-desen{
    display: flex;
    flex-direction: row;
    width: 500px;
    height: 30px;
    gap: 24px;
    align-items: flex-end;
}

.encriptar{
    font-size: 14px;
    line-height: 19px;
    width: 270px;
    height: 50px;
    color: #FFFFFF;
    background: #0A3871;
    border-radius: 10px;
    border: none;
    cursor:pointer;
}

.encriptar:hover{
    background: #104d97;
}

.desencriptar{
    font-size: 14px;
    line-height: 19px;
    width: 270px;
    height: 50px;
    color:#0A3871;
    background: #D8DFE8;
    border: 1px solid #0A3871;
    border-radius: 10px;
    cursor:pointer;
}

.desencriptar:hover{
    color: #0a2b52;
    background: #b3b7be;
}

.salida{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #FFFFFF;
    border-radius: 32px;
    box-shadow: 0px 24px 32px -8px rgba(0, 0, 0, 0.08);
    margin-right: 3rem;
}

.search{
    width: 150px;
    height: 150px;
    padding-bottom: 2rem;
}

.img-texto-inicio{
    display: flex;
    flex-direction: column;
    align-items: center;
    position: absolute;
    width: 236px;
    height: 22px;
    padding-top: 6rem;
}

.titulo1{
    font-weight: 700;
    font-size: 20px;
    text-align: center;
}

.parrafo{
    font-weight: 400;
    font-size: 12px;
    text-align: center;
    color: #495057;
}

.texto-encriptado{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.texto-resultado{
    margin: 1rem 1rem;
    border: none;
    text-transform:lowercase;
    font-weight: 400;
    font-size: 18px;
    line-height: 150%;
    color: #0A3871;
}

.texto-resultado:focus{
    outline: none;
}

.btn-copiar{
    font-weight: 400;
    font-size: 14px;
    line-height: 19px;
    width: 240px;
    height: 40px;
    color: #0A3871;
    background: #D8DFE8;
    border-radius: 10px;
    border: 1px solid #0A3871;
    cursor:pointer;
    margin-bottom: 1rem;
}

.btn-copiar:hover{
    color: #0a2b52;
    background-color: #b3b7be;
}


.footer{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    height: 120px;
    background-color: #0A3871;
    margin-top: 2rem;
}

.datos{
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-left: 3rem;
    gap: 4px;
}

.nombre{
    font-weight: 400;
    font-size: 20px;
    line-height: 24px;
    color: #FFFFFF;
    margin: 0;
}

.puesto{
    font-weight: lighter;
    font-size: 16px;
    line-height: 19px;
    color: #FFFFFF;
    margin: 0;
}

.iconos{
    display: flex;
	flex-direction: row;
    align-items: center;
    width: auto;
    margin-right: 3rem;
}

.linkedin{
    width: 34px;
    height: 34px;
    margin: 0 1rem 0 0;
    cursor: pointer;
}

.linkedin:hover{
    opacity: 0.6;
}

.github{
    width: 34px;
    height: 34px;
    margin: 0.1rem 1.3rem 0 0;
    cursor: pointer;
}

.github:hover{
    opacity: 0.6;
}

.email{
    width: 34px;
    height: 34px;
    margin-right: 0.5rem;
}

.email-direc{
    font-weight: 300;
    font-size: 16px;
    line-height: 19px;
    color: #FFFFFF;
    margin: 0 1rem 0 0;
}

.telefono{
    width: 34px;
    height: 34px;
}

.numero{
    white-space: nowrap;
    font-weight: 300;
    font-size: 16px;
    line-height: 19px;
    color: #FFFFFF;
    margin: 0 1rem 0 0;
    height: 19px;
}

@media only screen and (min-width: 684px) and (max-width: 1124px) {
    .body{
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .header {
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .logo{
        margin-left: 0;
    }

    .main{
        width: fit-content;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        margin-left: 13%;
        margin-right: 13%;
        gap: 2rem;
    }

    .entrada{
        align-items: center;
        margin-top: 2rem;
        margin-left: 0px;
    }

    .salida{
        width: fit-content;
        margin: 0 1rem;
    }

    .footer {
        flex-direction: column;
        align-items: center;
        text-align: center;
        height: fit-content;
        width: 100%;
        padding-top: 0.5rem;
    }

    .datos{
        margin-left: 0px;
    }

    .iconos{
        align-items: center;
    }

}

@media only screen and (max-width: 600px) {

    .body{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .logo{
        margin-left: 0;
    }

    .main{
        flex-direction: column;
        align-items: center;
        align-content: center;
        margin-top: 2rem;
    }

    .entrada{
        align-items: center;
        margin: 0;
    }

    .texto{
        width: 80%;
        margin: 0 10%;
        resize: none;
    }

    .condiciones{
        justify-content: center;
    }

    .btn-encri-desen{
        flex-direction: column;
        align-items: center;
        width: auto;
        height: auto;
    }

    .salida {
        align-items: center;
        resize: none;
        margin: 0 15%;
    }

    .img-texto-inicio{
        width: 75%;
    }

    .texto-encriptado{
        align-items: center;
    }

    .texto-resultado{
        height: auto;
        width: 70%;
        resize: none;
    }

    .btn-copiar{
        width: 75%;
    }

    .footer {
        flex-direction: column;
        align-items: center;
        text-align: center;
        height: fit-content;
        width: 100%;
        padding-top: 0.5rem;
    }

    .datos{
        margin-left: 0px;
    }

    .iconos{
        align-items: center;
        gap: 2rem;
        margin: 0.5rem 0;
    }

    .linkedin{
        margin: 0;
    }

    .github{
        margin: 0;
    }

    .email{
        margin: 0;
    }

    .telefono{
        margin: 0;
    }

    .email-direc{
        display: none;
    }

    .numero{
        display: none;
    }
}